body {
  background-color: #d2b6b6;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.login-container , .signup-container{
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn{
  background-color: black;
  color: #fff;
}

.btn:hover{
  background-color: #fff;
  color: black;
}

.signup-link a {
  text-decoration: none;
  font-weight: 500;
}