body {
    background-color: #d2b6b6;
}

#navbar {
    position: relative;
    padding: 16px;
    width: 100%;
    padding-top: 4%;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}
.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 10px;
  }
  .text-center h1 {
    color: #000;
  }
  
  #login {
    margin-bottom: 20px;
  }
  
  #login label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  #login input[type="email"], #login input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #login button[type="submit"],#signup input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #login button[type="submit"]:hover,#signup input[type="submit"]:hover {
    background-color: #686262;
    color: #000;
  }
  
  .signup-link {
    margin-top: 20px;
    color: #666;
  }
  
  .signup-link a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .signup-link a:hover {
    color: #23527c;
  }